.card-movie {
    margin-left: 2px;
    margin-right :10px ;
    margin-top : 60px ;
    margin-bottom :20px ;
    color : #ffff;
}

img {
    height : 300px; 
} 


.btn {
    margin-top : 20px;
}

.trailer {
    margin-right: 20px;
}

div a {
    text-decoration: none;
    color : #ffff;
    background-color: transparent;
}

.desc {
    text-align: start;
}
